/***************************************
GENERAL
***************************************/
body,h3,h1,p, .Roster{
  font-family: 'Open Sans', sans-serif;
}
html{
	height: 100%;
	box-sizing: border-box;
}
/* site body */
body{
  	background-color: #fff;
  	color: #999;
	position: relative;
	min-height: 100%;
}
* {
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.parallax{
	background-image: url("../img/nighthold.jpg");
    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wrapper{
	height: 100%;
  	max-width: 100%;
    margin-left: auto;
  	margin-right: auto;
	  position: center;
  	padding: 5% 5%;
}
#wrapper2{
	background-color: #8c8a8a;
	height: 1280px;
  	max-width: 950px;
  	margin: auto;
	position: static;
  	padding: 5% 5%;
}
#wrapper3{
	height: 1280px;
  	max-width: 950px;
  	margin: auto;
	position: static;
  	padding: 5% 5%;
}

img{
  max-width: 100%;

}
p{
	color:black;
}
h3{
  margin: auto;
	color: #1e6829;
}


/***************************************
HEADING
***************************************/
header{
  	float: left;
  	margin: 0 0 30px 0;
 	padding: 5px 0 0 0;
 	width: 100%;
	background: #6ab47b;
  	border-color: #599a68;
}


#logo{
  text-align: center;
  margin: 0;
}

h1{
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2{
  margin: 0 0 -20px;
  font-size: 1.25em;
  font-weight: normal;
  text-indent: 4%;
}

h4{
  margin: 0 0 -20px;
  font-size: 1.25em;
  font-weight: normal;
  text-indent: 36%;
}

h5{
  margin: 0 0 -20px;
  font-size: 1.25em;
  font-weight: normal;
  text-indent: 68%;
}

/***************************************
NAVIGATION
***************************************/

nav{
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a{
  font-weight: 800;
  padding: 15px 10px;

}

/***************************************
FOOTER
***************************************/

.footer{
	font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #ccc;
    width: 100%;
    bottom: 0px;
    background-color: #2E2E2E;
    overflow: hidden;
	display: block;
}
.social-icon{
  width: 10%;
  height: 10%;
  margin: 0 5px;
}

.social-icon2{
  width: 30px;
  height: 25px;
  margin: 0 5px;
  background-color: #fff;
}

/***************************************
PAGE MAIN
***************************************/

.tankd{;
  width: 350px;
  height: 100%;
  margin: 10px;
  margin-left: 114.5%;
  border: 3px solid #FF7D0A;
}

.tankw{;
  width: 350px;
  height: 100%;
  margin: 10px;
  margin-left: 114.5%;
  border: 3px solid #C79C6E;
}
/*****************************************
ROSTER CLASSES
*****************************************/

.druidb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #FF7D0A;
}

.warriorb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #C79C6E;
}

.paladinb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #F58CBA;
}

.priestb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #FFF;
}

.dhb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #A330C9;
}

.dkb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #C41F3B;
}

.hunterb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #ABD473;
}

.mageb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #69CCF0;
}

.monkb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #00FF96;
}

.rogueb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #FFF569;
}

.lockb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #9482C9;
}

.shamanb{
  float: right;
  width: 350px;
  height: 100%;
  margin: 10px;
  border: 3px solid #0070DE;
}

/*************************
DIVIDERS
*************************/

.hr{
	  border: 0;
    height: 10px;
    margin-left: auto;
  	margin-right: auto;
	  width: 46%;
    border-top: 2.5px solid rgba(191, 63, 63, 0.5);
    border-bottom: 2.5px solid rgba(191, 63, 63, 0.5);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(1, 1, 1, 1), rgba(0, 0, 0, 0.2));
}
.hr2{
	  border: 0;
    height: 10px;
    margin-left: auto;
  	margin-right: auto;
	  width: 95%;
    border-top: 2.5px solid rgba(191, 63, 63, 0.5);
    border-bottom: 2.5px solid rgba(191, 63, 63, 0.5);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(1, 1, 1, 1), rgba(0, 0, 0, 0.2));
}
.Roster{
  position: center;
	font-size: 1.75em;
  	font-weight: normal;
	text-align: center;
}

.rosterimg {
  position: relative;
  width: 24%;
  display: inline-block; /* This can be inline too */
  margin: 0 0 2%;
  padding: 0px;
}

.rosterimg .data {
  padding: 0 2px;
  display: inline-block; /* This can be inline too */
  position: absolute;
  bottom: 8%;
  left: 14%;
  width: 60%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.1vw;
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFF;
}
.rosterimg .data2 {
  padding: 0 2px;
  display: inline-block; /* This can be inline too */
  position: absolute;
  bottom: 8%;
  left: 116%;
  width: 60%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.1vw;
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFF;
}


#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #000000;
}

#gallery li a p {
  margin: 0;
  padding: 1%;
  font-size: 0.75em;
  color: #bdc3c7;
}
/***************************************
PAGE: APPLICATION
***************************************/
.profile-photo{
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 10px;
}
.guildmaster{
	display: inline-block;
	max-width: 350px;
}
.officer{
	display: inline-block;
	max-width: 350px;
}


/***************************************
COLORS
***************************************/
/* logo text */
h1{
  color: #fff
}

h2, h4, h5{
  color: #000
}
/* links */
a {
  color: #1e6829;
}

/* nav background on mobile */
nav{
  background: #2E2E2E;
}

/* nav link */
nav a, nav a:visited{
  color: #fff;
}

/* selected nav link*/
nav a.selected, nav a:hover{
  color: #494949;
}
main {
	max-width: 100%;
}

.notgrey {
    color: #000;
}
/***************************************
Slideshow for roster
***************************************/
/* Slideshow container */
.slideshow-container{
	width: 1000px;
  	position: absolute;
	top: 20%;
	left: 25%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: 50px;
  padding: 4px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0px 0 0 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.druid, .rogue, .hunter, .warlock, .mage, .paladin, .monk{
 	font-size: 25px;
 	padding: 8px 12px;
  	position: absolute;
  	bottom: 450px;
	right: 350px;
  	width: 100%;
  	text-align: center;
}
.druid{
	color: #536094;
}
.rogue{
	color: #274A29
}
.hunter{
	color: #F77300;
}
.warlock{
	color: #C11316;
}
.mage{
	color: #908CED;
}
.paladin{
	color: #F5A207;
}
.monk{
	color: #749064;
}

/* Fading animation */
.fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}

@keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}
